# Ignore Gradle cache only (not build outputs)
.gradle/

# Ignore IntelliJ / VSCode / IDE metadata
.idea/
*.iml
.vscode/

# Ignore OS metadata
.DS_Store

# Ignore git repo metadata
.git
.gitignore

# Ignore DB files
mysql-data/
mongo-data/

# Ignore local env files
.env
*.log
